<div class="container w-50 mt-5 text-center">
  <div class="text-center m-3 text-white">
    <h1> Word Limit: {{limit}}</h1>
  </div>
  <input type="range" min="0" max="50" class="slider form-control-range" value="{{ limit }}" (change)="handleSlideChange($event.target.value)">
  <button class="btn btn-info" (click)="generate()">Generate Words</button>
  <button class="btn btn-info" (click)="generateRandomCountries()">Generate Random Country Words</button>
  <div *ngIf="words" class="card card-body">
    <p class="display-4">
      {{words}} 
    </p>
  </div><br>
  <div *ngIf="Countries" class="card card-body">
    <p class="display-4">
      {{Countries}}
    </p>
  </div>
</div>
